<html>

    <head>
		<meta charset="utf-8">
        <title>TodoList</title>
        <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
        <link href="//cdn.bootcss.com/bootstrap-material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/bootstrap-material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/bootstrap-material-design/0.3.0/css/ripples.min.css" rel="stylesheet">
		
		<style>
			a:hover {cursor:pointer;}
			body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
			.heimu,
			.heimu a,
			a .heimu,
			.heimu a.new {
				background-color: #252525!important;
				color: #252525!important
			}
			.heimu a:hover,
			a:hover .heimu {
				color: #0645AD!important
			}
			.heimu .new:hover,
			.new:hover .heimu {
				color: #BA0000!important
			}
		</style>
		
    </head>

    <body>
        <!-- Your site -->
		<div class="page-header" id="banner">
	        <h1 class="text-center">TodoList | 日程清单</h1>
		</div>
			
			{% block body %}
			{% endblock %}

        <!-- Your site ends -->

        <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <script src="//cdn.bootcss.com/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap-material-design/0.3.0/js/material.min.js"></script>
        <script>
            $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
            });
        </script>
		{% block scr %}
		{% endblock %}
    </body>

</html>
