{% extends "base.html" %}
{% block body %}
<script>
	window.onload=function()
	{
		showTobedoList();
		showDoingList();
	}
</script>
<div class="col-sm-offset-3 col-sm-6">
	<div class="panel panel-primary">
	    <div class="panel-heading">
	        <h3 class="panel-title">{{session['name']}}:</h3>
	    </div>
	    
	    <div class="panel-body">
	    	
	        <h4>主人，人家好想你，给你讲个笑话吧，今天就别再<a onclick="exit()">注销</a>了啦^_^</h4>
		    <p>{{joke|safe}}</p>
			
	    </div>	    
	</div>
	
	<div class="row col-sm-6">
		<div id="tobedoList"></div>
	</div>
	
	<div class="col-sm-6 pull-right" style="margin-right:-15;">
		<div id="doingList"></div>
	</div>
	
</div>	
{% endblock %}

{% block scr %}
	<script>
		function exit()
		{
			$.get("exit", function(result){
				 location.href="{{url_for('index')}}"
				  });
		}
		function showTobedoList()
		{
			$.get("{{url_for('listController.showTobedoList')}}", function(result){
				$("#tobedoList").html(result);
				  });
		}
		function showDoingList()
		{
			$.get("{{url_for('listController.showDoingList')}}", function(result){
				$("#doingList").html(result);
				  });
		}
		function cleanForm()
		{
			document.getElementById('textForm').reset();
		}
		function sub()
		{
			text=document.getElementById('textArea')
			if(title.value.length==0)
			{
				alert("请输入内容");
				text.focus();
				return false;
			}
			return true;
		}
	</script>
{% endblock %}
